@model Regit.Models.Contract

@{
    ViewData["Title"] = "Добавяне";
}

<h1>@ViewData["Title"]</h1>

<h4>Договор</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SignedOn" class="control-label"></label>
                <input asp-for="SignedOn" class="form-control" />
                <span asp-validation-for="SignedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidFrom" class="control-label"></label>
                <input asp-for="ValidFrom" class="form-control" />
                <span asp-validation-for="ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNum" class="control-label"></label>
                <input asp-for="RegNum" class="form-control" />
                <span asp-validation-for="RegNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                <input asp-for="Term" class="form-control" />
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControlledBy" class="control-label"></label>
                <input asp-for="ControlledBy" class="form-control" />
                <span asp-validation-for="ControlledBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsible" class="control-label"></label>
                <input asp-for="Responsible" class="form-control" />
                <span asp-validation-for="Responsible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guarantee" class="control-label"></label>
                <input asp-for="Guarantee" class="form-control" />
                <span asp-validation-for="Guarantee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaysOfCollection" class="control-label"></label>
                <input asp-for="WaysOfCollection" class="form-control" />
                <span asp-validation-for="WaysOfCollection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InformationList" class="control-label"></label>
                <input asp-for="InformationList" class="form-control" />
                <span asp-validation-for="InformationList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
